<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link href="http://localhost/static/css/translate.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="http://localhost/static/js/google-translate.js"></script>
    <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
    <title>Letter</title>
</head>
<body>
    <div class="language">
        <div class="dropdown">
            <div class="dropbtn">choose language
                <div class="dropdown-content" style="color: black">
                    <a><b data-google-lang="ru">russian</b></a>
                    <a><b data-google-lang="de">german</b></a>
                    <a><b data-google-lang="en">english</b></a>
                </div>
            </div>
        </div>
    </div>
    <h1>Author: {{ letter.author.number }}</h1>
    <div class="text">
        <p>{{ letter.text }}</p>
    </div>
</body>
</html>