<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <title>Write letter</title>
</head>
<body>
  <form class="form-signin" role="form" action="{{ url_for('sent_letter') }}" method="post" style="max-width: 500px">
        <h2 class="form-signin-heading">Write letter</h2>
        <p>
            <label for="number" class="sr-only">Student number</label>
            <input type="text" id="number" name="number" class="form-control" placeholder="To whom" required autofocus>
        </p>
        <p>
            <label for="text" class="sr-only">Text</label>
            <textarea id="text" rows="9" name="text" class="form-control" placeholder="Text" required></textarea>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sent</button>
    </form>
</body>
</html>