<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link href="http://localhost/static/css/translate.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="http://localhost/static/js/google-translate.js"></script>
    <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
    <title>Write letter</title>
</head>
<body>
  <div class="language">
        <div class="dropdown">
            <div class="dropbtn">choose language
                <div class="dropdown-content" style="color: black">
                    <a><b data-google-lang="ru">russian</b></a>
                    <a><b data-google-lang="de">german</b></a>
                    <a><b data-google-lang="en">english</b></a>
                </div>
            </div>
        </div>
  </div>
  <form class="form-signin" role="form" action="{{ url_for('sent_letter') }}" method="post" style="max-width: 500px">
        <h2 class="form-signin-heading">Write letter</h2>
        <p>
            <label for="number" class="sr-only">Student number</label>
            <input type="text" id="number" name="number" class="form-control" placeholder="To whom" required autofocus>
        </p>
        <p>
            <label for="text" class="sr-only">Text</label>
            <textarea id="text" rows="9" name="text" class="form-control" placeholder="Text" required></textarea>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sent</button>
    </form>
</body>
</html>