<!DOCTYPE html>
<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
  <title>Retake monitoring service</title>
</head>
<body>
  <header>
    <h1><a href='http://localhost:8081/'>Continue as study department</a></h1>
  </header>
  <main>
    <p>Here you can view your retake schedule</p>
    <a href="http://localhost/get_student_number">Go to schedule</a>
  </main>
</body>
</html>