<!DOCTYPE html>
<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
  <link href="../static/css/enter.css" rel="stylesheet">
  <title>Retake monitoring service</title>
</head>
<body>
  <main>
    <div class="study_department">
      <h2><a href='http://localhost:8081/'>Continue as study department</a></h2>
      <a href='http://localhost:8081/'><img src="../static/img/department.png" width="510"></a>
    </div>
    <div class="student">
      <h2><a href="http://localhost/get_student_number">Here you can view your retake schedule</a></h2>
      <a href="http://localhost/get_student_number"><img src="../static/img/student.png" width="510"></a>
    </div>
  </main>
</body>
</html>