<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <title>Change password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link href="http://localhost/static/css/header.css" rel="stylesheet">
    <link href="http://localhost/static/css/translate.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="http://localhost/static/js/google-translate.js"></script>
    <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
</head>
<body>
<header>
    <div class="language">
        <div class="dropdown">
            <div class="dropbtn">choose language
                <div class="dropdown-content" style="color: black">
                    <a><b data-google-lang="ru">russian</b></a>
                    <a><b data-google-lang="de">german</b></a>
                    <a><b data-google-lang="en">english</b></a>
                </div>
            </div>
        </div>
    </div>
    <div class="information">
        <img src="http://localhost/static/img/student.png" width="52">
        <p>Your number: {{ current_user.number }}</p>
    </div><br>
</header>
<div class="container">
    <form class="form-signin" role="form" action="{{ url_for('set_password') }}" method="post">
        <h2 class="form-signin-heading">Enter new password</h2>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="New password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
    </form>
</div>
</body>
</html>