<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link href="http://localhost/static/css/header.css" rel="stylesheet">
    <link href="http://localhost/static/css/table.css" rel="stylesheet">
    <title>Retakes</title>
</head>
<body>
    <header>
        <div class="title">
            <h1>Schedule of retakes available to you</h1>
        </div>
        <div class="information">
            <img src="http://localhost/static/img/student.png" width="52">
            <p>Your number: {{ current_user.number }}</p>
        </div><br>
    </header>
    <form action="{{ url_for('logout') }}" method="get">
        <p><input class="sub" type="submit" value="logout" /></p>
    </form>
    <form method="get" action="{{ url_for('change_password') }}">
        <p><input class="sub" type="submit" value="change password" /></p>
    </form>
    <form method="post" action="http://localhost:5001/login">
        <input type="hidden" name="login" value="{{ student.number }}" />
        <input type="hidden" name="password" value="{{ student.password }}" />
        <p><input class="sub" type="submit" value="go to mail service" /></p>
    </form>
    <table class="tableOne" align="center" border="5" cellpadding="20">
        <tr>
            <th>Subject</th>
            <th>Date</th>
            <th>Places left</th>
            <th>Sign up</th>
        </tr>
        {% for retake in student.retakes %}
            <tr>
                <th>{{ retake.subject }}</th>
                <th>{{ retake.date.strftime('%d %B %Y') }}</th>
                <th>{{ retake.max_count }}</th>
                <th>
                    {% if retake in student.recorded_retakes %}
                        You are already signed up
                    {% elif retake.max_count <= 0 %}
                        No seats left
                    {% else %}
                        <form method="post" action="{{ url_for('sign_up_for_retake') }}">
                            <input type="hidden" name="number" value="{{ student.number }}" />
                            <input type="hidden" name="retake_id" value="{{ retake.id }}" />
                            <input class="sub_table" type="submit" value="Sign up" />
                        </form>
                    {% endif %}
                </th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>