.title {
    text-align: center;
    margin: auto;
    width: 45%;
}

.information {
    float: right;
    width: 15%;
    margin: 2px;
    text-align: center;
}

.title, .information {
    display: inline;
}