<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>add new retake</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content>
  <meta name="author" content>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
  <link href="http://localhost/static/css/translate.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="http://localhost/static/js/google-translate.js"></script>
  <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
</head>
<body>
<div class="language">
  <div class="dropdown">
    <div class="dropbtn">choose language
      <div class="dropdown-content" style="color: black">
        <a><b data-google-lang="ru">russian</b></a>
        <a><b data-google-lang="de">german</b></a>
        <a><b data-google-lang="en">english</b></a>
      </div>
    </div>
  </div>
</div>
<a href="/">Main page</a><br>
<h1>Add new retake</h1>
<form action="#" th:action="@{/add_retake}" method="post">
  <p>Max number of students: <input type="number" name="maxCount" th:value="*{maxCount}" class="form-control"/></p>
  <p>Subject: <input type="text" name="subject" th:value="*{subject}" class="form-control"/></p>
  <p>Date: <input type="date" name="date" th:value="*{date}" class="form-control"/></p>
  <p><input type="submit" value="Confirm" /></p>
</form>
</body>
</html>