<!DOCTYPE html>
<html lang="en">
<head>
    <title>Real Estate Agency</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
    <h1>Real Estate Agency</h1>
    <a href="http://localhost/">logout</a><br>
    <a href="/add_new_student">Add new student</a><br>
    <a href="/add_new_retake">Add new retake</a><br>
    <a href="/give_access">Give access student to retake</a><br>
    <form method="post" action="http://localhost:5001/login">
        <input type="hidden" name="login" th:value="*{login}" class="form-control"/>
        <input type="hidden" name="password" th:value="*{password}" class="form-control"/>
        <input type="submit" value="go to mail service" />
    </form>
</body>
</html>