<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link href="http://localhost/static/css/header.css" rel="stylesheet">
    <link href="http://localhost/static/css/table.css" rel="stylesheet">
    <link href="http://localhost/static/css/menu.css" rel="stylesheet">
    <link href="http://localhost/static/css/translate.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="http://localhost/static/js/google-translate.js"></script>
    <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
</head>
<body>
<header>
    <div class="language">
        <div class="dropdown">
            <div class="dropbtn">choose language
                <div class="dropdown-content" style="color: black">
                    <a><b data-google-lang="ru">russian</b></a>
                    <a><b data-google-lang="de">german</b></a>
                    <a><b data-google-lang="en">english</b></a>
                </div>
            </div>
        </div>
    </div>
    <div class="title">
        <h1>Main page</h1>
    </div>
    <div class="information">
        <img src="http://localhost/static/img/department.png" width="72"><br>
        Your login:
        <p th:text="*{login}"></p>
    </div><br>
</header>
    <div class="menu">
        <form action="http://localhost" method="get">
            <p><input class="sub" type="submit" value="logout" /></p>
        </form>
        <form action="/add_new_student" method="get">
            <p><input class="sub" type="submit" value="Add new student" /></p>
        </form>
        <form action="/add_new_retake" method="get">
            <p><input class="sub" type="submit" value="Add new retake" /></p>
        </form>
        <form action="/give_access" method="get">
            <p><input class="sub" type="submit" value="Give access to student for the retake" /></p>
        </form>
        <form method="post" action="http://localhost:5001/login">
            <input type="hidden" name="login" th:value="*{login}" class="form-control"/>
            <input type="hidden" name="password" th:value="*{password}" class="form-control"/>
            <input class="sub" type="submit" value="go to mail service" />
        </form>
    </div>
</body>
</html>